<div class="container center">
  <br>
  <div class="row">
    <!-- BEGIN HERE -->

    <div class="row">
      <form class="col s6 offset-s3 center">
      <h4>Create Idea</h4>
    <!-- TITLE INPUT -->
       <div class="row">
         <div class="input-field">
           <input id="idea-title" type="text" class="validate">
           <label for="idea-title" data-error="wrong" data-success="right">Title</label>
         </div>
       </div>

      <!-- BODY INPUT -->
       <div class="row">
         <div class="input-field">
           <input id="idea-body" type="text" class="validate">
           <label for="idea-body" data-error="wrong" data-success="right">Body</label>
         </div>
       </div>

      <!-- SUBMIT BUTTON -->
      <br>
       <button class="btn waves-effect waves-light" id="create-idea" type="submit" name="action">Submit</button>

     </form>
    </div>

    <!-- STOP HERE -->

  </div>
  <div class="row">
    <div class="col s6" id="ideas-index"></div>
    <div class="col s6"></div>
  </div>
</div>
