<div class="container center">
  <div class="row">
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8">

<!-- CREATE -->
    <div class="input-field">
      <input id="idea-title" type="text" class="validate">
      <label>Title</label>
    </div>

    <div class="input-field">
      <input id="idea-body" type="text" class="validate">
      <label>Body</label>
    </div>

    <div class="input-field">
      <button class="btn waves-effect waves-light" id="create-idea" type="submit" name="action">Save</button>
    </div>

    <p></p></div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>

<!-- SEARCH -->
  <div class="col s12"><span class="flow-text">Search Ideas</span></div>

    <nav>
      <div class="nav-wrapper ui-autocomplete-input">
        <form>
          <div class="input-field white">
            <div class="ui-widget">
              <input id="idea-search" type="search" required>
            </div>
          </div>
        </form>
      </div>
    </nav>

<!-- INDEX -->
  <div class="col s12" id="ideas-index"></div>
  </div>

</div>
