@import url(https://fonts.googleapis.com/css?family=Righteous|Doppio+One);

body {
 font-family: 'Doppio One' sans-serif;
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: #f1f1f1;
 font-size: 20px;
 font-weight: 350;
}

main {
 flex: 1 0 auto;
}

nav {
 font-family: 'Doppio One' sans-serif;
 font-size: 24px;
 color: black;
}

.page-footer {
 font-size: 80%;
}

.footer-copyright {
 font-size: 16px;
}

.invisible {
  display: none;
}

.increase-idea-quality {
  font-size: 32px;
  font-weight: bold;
}

.decrease-idea-quality {
  font-size: 32px;
  font-weight: bold;
}
