<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
  <body>
    <main>
      <header>
        <nav class="z-depth-0 navbar">
          <div class="nav-wrapper white lighten-4">
            <a href="/" class="brand-logo black-text center" id="navbar-branding">IdeaBox</a>
          </div>
        </nav>
      </header>
      <br>
      <%= yield %>
      <br>
    </main>​
    <footer class="page-footer white">
      <div class="footer-copyright">
        <div class="container">
          <a class="black-text text-lighten-4 left" href="https://github.com/acareaga" target="_blank">Made by Aaron Careaga</a>
          <div class= "black-text text-lighten-4 right">© 2016 Idea Box</div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
